/**
* Site Wide
**/
html { height: 100%; }
body {
  background-color: #FFF;
  font: 62.5% Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.clear { clear: left; }
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}  /* for IE/Mac */

/** Reset **/
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
h3 { /* 14px HACK!! */
  padding-top: 2px;
}
#header ul, #header li {
  list-style: none;
  margin: 0;
  padding: 0;
}
div#body ul { 
  margin: 0 0 14px 0; 
  padding: 0;
}
div#body ul li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
fieldset, img { border: 0 none; }
a, a:visited { text-decoration: none; }
a:hover { outline: none !important; }
a:hover span { cursor: pointer; }
pre, code {
  margin: 0;
  padding: 0;
}
form, fieldset, input, textarea, label {
  margin: 0;
  padding: 0;
}
textarea { overflow: auto; }
input, button {
  width: auto;
  overflow: visible;
}
table, thead, tbody, tr, th, td {
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

/** Basic Typography **/
h1, h2, h3, h4, h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 14px 0;
}
h1 { font-size: 2.6em; }
h1.heading { font-size: 1.1em; } /* effectively h2 */
h2,h3,h4,h5 { font-size: 1.1em; font-weight: bold; }

div#document {
  font-size: 1.1em;
  min-height: 100%;
}
* html div#document {
  height: 100%;
}
div#layout {
  font-size: 1.1em;
  color: #333;
  min-width: 600px;
  padding: 0 0 34px 0;
}
a, a:visited {
  text-decoration: underline;
  color: #777;
}
a:hover {
  color: #3c3c3c;
}
a.user {
  background-image: url("../images/icons/user.png");
}
* html a.icon span {
  margin: 0 0 0 18px;
}
a img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
}
h1.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 2px 0 2px 42px;
}


/**
* Header
**/
div#header_wrapper {
  margin: 0 30px;
  background: url('../images/banner-corner-right.png') top right no-repeat;
}

div#header a {
  color: #DDD;
}
div#title {
  background-color: #a1bb66;
  padding: 15px 5px;
  margin: 40px 30px 0 30px;
}
div#header {
  background: url('../images/banner-corner-left.png') top left no-repeat;
}

div#title div {
  color: #FFF;
  border-top: 5px solid #FFF;
  border-bottom: 5px solid #FFF;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 4em;
  font-weight: normal;
  padding: 10px 15px 0 0;
  text-align: right;
}
div#header div.version {
  display: inline;
  margin-left: 20px;
  color: #888;
  font-size: 0.9em;
}
div#header div#account_bar {
  background: #222 url('../images/striped.png') top left;
  margin-left: 25px;
  float: left;
  border-top: 1px solid #222;
  -moz-border-radius: 0px 0px 5px 5px;
}
div#header div#account_bar ul li {
  display: block;
  float: left;
  width: 100px;
}
div#header div#account_bar ul li a {
  padding: 5px 10px;
  display: block;
  width: 80px;
  text-align: center;
  border-right: 1px solid #555;
}
div#header div#account_bar ul li.last a {
  border-right: 0;
}
div#header div#account_bar ul li a:hover {
  color: #FFF;
}

/**
* Notifications
**/
div#notice {
  margin: -23px 0 0 300px;
}

/**
* Body
**/
div#body_wrapper {
  width: 100%;
  height: auto;
/*  min-height: 660px; */
  *width: 99.8%;
}
* html div#body_wrapper {
  height: 660px;
}
div#body div#full_width {
  margin: 0 auto;
  padding: 30px 40px;
  
  pasition: relative;
  *height: 0.01%;
}
div#body div#primary {
  margin: 0 220px 0 0;
  padding: 30px 30px 30px 230px;
  position: relative;
  *height: 0.01%;
}
body.error_page div#body div#primary {
  margin: 0 90px 0 0;
  padding: 30px 30px 30px 90px;
}
div#body div#sidebar {
  padding: 30px 30px;
  width: 160px;
  float: right;
}
div#body p {
  line-height: 17px;
  margin: 0 0 14px 0;
}
div#body span.notice {
  color: #ABABAB;
}

/**
* Definition Lists
**/
dl {
  padding: 0 0 15px 0;
  overflow: auto;
}
dl dt {
  padding: 2px 0 2px;
  float: left;
  clear: right;
  text-align: right;
}
dl dd {
  padding: 0 0 5px 0;
}

/**
* Icons
**/
a img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
}

/**
* Forms
**/
form div.field label {
  text-align: right;
  padding: 5px 10px 5px 0px;
  width: 80px;
  float: left;
}
form input,
form textarea {
  font: 1.0em Helvetica, Arial, sans-serif;
}
form input[type=text] {
  width: 276px;
}
form textarea {
  width: 280px;
}
form input[type=submit] {
  width: auto;
}

.content table tr th {
width: 120px;
text-align: right;
vertical-align: top;
padding-right: 10px;
  padding-top: 3px;
}
.content table tr td {
padding: 0 0 14px 0;
}

#body table
{
    width: 100%;
}

.content div.form-wrapper {
  margin-left: -5px;
  margin-right: -5px;
margin-bottom: 10px;
}
.content div.open-form table {
}

div.form-wrapper.open-form {
    border-top: 5px solid #AAA;
    border-bottom: 5px solid #AAA;
    padding: 10px 0px;
    margin-bottom: 20px;
  background-color: #F0F0F0;
}

/* Expand/contract behavior */
div.form-wrapper div.value {
  display: block;
}
div.form-wrapper .form-field {
  display: none;
}
div.form-wrapper.open-form div.value {
  display: none;
}
div.form-wrapper.open-form div.form-field {
  display: block;
}
div.form-wrapper.open-form tr.form-field {
  display: table-row;
}

div.delete-form-wrapper {
    margin-bottom: 1em;
}

table textarea,
table iframe
{
  width: 90% !important;
}
table input[type="button"],
table input[type="checkbox"],
table input[type="submit"]
{
    width: auto !important;
}

body.action_add form .value 
{
    display: none;
}

form label
{
  font-weight: bold;
}

form table tr td:first-child
{
    text-align: right;
    padding-right: 4px;
}
form .perm-preview {
  font-weight: bold;
}

/**
 * Side-load
 **/
div.progress {
  width: 100%; 
  background:#DDD; 
  height: 1em; 
}
div.progress div.indicator {
  width: 0; 
  height: 1em; 
  background-color: #222;
}
div.progress .spinner {
    position: relative;
    right: -20px;
}

/**
 * Podcast
 **/
.podcasts h3 {
  margin: 0;
}
iframe {
    border: 0;
}
img.cover {
  float: right;
  width: 80px;
  height: 80px;
  z-index: 30;
}

/**
 * Episode
 **/
div.torrent_file {
  margin-bottom: 1em;
}

div.torrent_file ul.links {
  padding: 8px 8px 8px 70px !important;
  background-color: #333;
  display: block;
  color: #FFF;
  margin-bottom: 2px !important;
  -moz-border-radius: 5px;
  position: relative;
  max-width: 400px;
}

div.torrent_file ul.links span {
  margin-left: -70px;
  text-align: right;
  display: block;
  float: left;
  width: 60px;
}

div.torrent_file ul.links .divider {
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0;
  width: 65px;
  border-right: 1px solid #444
}

div.torrent_file ul.links a:hover {
  color: #DDD;
}

/**
 * Account
 **/

body.module_account.action_settings #header
{
    display: block;
}

body.module_podcast.action_edit #content ul li form
{
    display: inline;
}

/* Symfony Debug */
body div#sfWebDebug div#sfWebDebugBar {
  position: absolute;
  top: 34px;
  right: 0;
}
