/**
* Site Wide
**/
html { height: 100%; }
body {
  background-color: #FFF;
  font: 62.5% Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
.clear { clear: left; }
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {display: inline-block;}  /* for IE/Mac */

/** Reset **/
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
h3 { /* 14px HACK!! */
  padding-top: 2px;
}
#header ul, #header li {
  list-style: none;
  margin: 0;
  padding: 0;
}
div#body ul { 
  margin: 0 0 14px 0; 
  padding: 0;
}
div#body ul li {
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}
fieldset, img { border: 0 none; }
a, a:visited { text-decoration: none; }
a:hover { outline: none !important; }
a:hover span { cursor: pointer; }
pre, code {
  margin: 0;
  padding: 0;
}
form, fieldset, input, textarea, label {
  margin: 0;
  padding: 0;
}
textarea { overflow: auto; }
input, button {
  width: auto;
  overflow: visible;
}
table, thead, tbody, tr, th, td {
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

/** Basic Typography **/
h1, h2, h3, h4, h5 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin: 0 0 14px 0;
}
h1 { font-size: 2.2em; }
h1.heading { font-size: 1.6em; } /* effectively h2 */
h2 { font-size: 1.6em; }
h3 { font-size: 1.1em; }
h4 { font-size: 1.1em; }
h5 { font-size: 1.1em; }
div#document {
  font-size: 1.1em;
  min-height: 100%;
}
* html div#document {
  height: 100%;
}
div#layout {
  font-size: 1.1em;
  color: #333;
  min-width: 800px;
  padding: 0 0 34px 0;
}
a, a:visited {
  text-decoration: underline;
  color: #777;
}
a:hover {
  color: #3c3c3c;
}
a.user {
  background-image: url("../images/icons/user.png");
}
* html a.icon span {
  margin: 0 0 0 18px;
}
a img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
}
h1.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 2px 0 2px 42px;
}


/**
* Header
**/
div#header_wrapper {
  position: relative;
  width: 100%;
  background: #333;
  border-bottom: 1px solid #bbb;
  overflow: auto;
}
div#header {
  position: relative;
  width: 100%;
  color: #DDD;
  margin: 0 auto;
  padding: 10px 0;
}
div#header a {
  color: #DDD;
}
div#header div#title {
  padding: 12px 0 0 10px;
  display: inline;
}

div#header div#title {
  display: inline;
  padding: 0 0 0 2px;
  margin: 12px 0 0;
  font-size: 12px;
}
div#header div.version {
  display: inline;
  margin-left: 20px;
  color: #888;
  font-size: 0.9em;
}
div#header div#account_bar {
  top: 0;
  right: 10px;
  position: absolute;
  z-index: 1;
}
div#header div#account_bar ul li {
  margin: 0 0 0 10px;
  padding: 10px 0 0 0;
  float: left;
}
div#header div#account_bar ul li.search {
  width: 210px;
  padding: 5px 0 0 0;
  position: relative;
  margin-right: -20px;
}
div#header div#account_bar ul li.search input.text {
  width: 146px;
  height: 15px;
  padding: 4px 31px 4px 5px;
  top: 5px;
  left: 0;
  position: absolute;
  overflow: hidden;
  display: block;
}
div#header div#account_bar ul li.search input.image_button {
  top: 5px;
  right: 26px;
  position: absolute;
}

/**
* Title
**/
div#title {
  color: #333;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 3em;
  margin: -3px 0 0 18px;
  z-index: 2;
}

/**
* Body
**/
div#body_wrapper {
  width: 100%;
  height: auto;
/*  min-height: 660px; */
  *width: 99.8%;
}
* html div#body_wrapper {
  height: 660px;
}
div#body div#full_width {
  margin: 0 auto;
  padding: 30px 160px;
  
  pasition: relative;
  *height: 0.01%;
}
div#body div#primary {
  margin: 0 220px 0 0;
  padding: 30px 30px 30px 230px;
  position: relative;
  *height: 0.01%;
}
body.error_page div#body div#primary {
  margin: 0 90px 0 0;
  padding: 30px 30px 30px 90px;
}
div#body div#sidebar {
  padding: 30px 30px;
  width: 160px;
  float: right;
}
div#body h1.title.page {
  color: #97ce2e; 
}
div#body p {
  line-height: 17px;
  margin: 0 0 14px 0;
}
div#body span.notice {
  color: #ABABAB;
}*/

/** Buttons **/
div#body a.button {
  background: url("../images/content/button_bg_left.png") no-repeat left top;
  color: #383838 !important;
  height: 33px;
  padding: 0 0 0 5px;
  display: block;
  float: left;
}
div#body a.button span {
  background: url("../images/content/button_bg_right.png") no-repeat right top;
  height: 14px;
  padding: 7px 10px 12px 5px;
  display: block;
  cursor: pointer;
}
div#body a.button:hover {
  background-position: left bottom;
  color: #212121 !important;
}
div#body a.button:hover span {
  background-position: right bottom;
}
div#body a.action_button {
  background: url("../images/content/action_button_bg_left.png") no-repeat left top;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #306A0F !important;
  height: 32px;
  padding: 0 0 0 15px;
  display: block;
  float: left;
}
div#body a.action_button span {
  background: url("../images/content/action_button_bg_right.png") no-repeat right top;
  height: 14px;
  padding: 6px 15px 12px 0;
  display: block;
  cursor: pointer;
}
div#body a.action_button:hover {
  background-position: left bottom;
  color: #20460A !important;
}
div#body a.action_button:hover span {
  background-position: right bottom;
}
* html div#body a.button span { height: auto; }
* html div#body a.action_button span { height: auto; }

/**
* Definition Lists
**/
dl {
  padding: 0 0 15px 0;
  overflow: auto;
}
dl dt {
  padding: 2px 0 2px;
  float: left;
  clear: right;
  text-align: right;
}
dl dd {
  padding: 0 0 5px 0;
}

/* Namespace */
dl.namespace {
  margin: 0 0 0 -130px;
  overflow: auto;
}
dl.namespace dt {
  width: 120px;
  padding: 2px 10px 3px 0;
  text-align: right;
}

/* Linkspace */
dl.linkspace {
  margin: 0 0 0 -30px;
  overflow: auto;
}
dl.linkspace dt {
  width: 20px;
  padding: 0 10px 0 0;
  overflow: auto;
}
dl.linkspace dd {
  padding: 2px 0 7px 0;
}


/**
* Icons
**/
a img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-table;
}
span > img.inline_icon {
  margin: -4px 0 0 0;
  position: relative;
  top: 3px;
}

/**
* Forms
**/
form div.field label {
  text-align: right;
  padding: 5px 10px 5px 0px;
  width: 80px;
  float: left;
}
form div.field div {
  margin: 0 0 0 90px;
}
form div.align {
  padding: 10px 10px 10px 135px;
}
form div.controls,
form div.response_container {
  padding: 14px 0 0 90px;
}
form input,
form textarea {
  font: 1.0em Helvetica, Arial, sans-serif;
}
form input.text,
form textarea.text {
  background: #F3F3F3 url("../images/content/input_bg.png") repeat-x left top;
  color: #676767;
  padding: 4px;
}
form input[type=text] {
  width: 276px;
}
form textarea {
  width: 280px;
}
form input[type=submit] {
  width: auto;
}
form input.text.focus,
form textarea.text.focus {
  color: #212121;
}
form input.button {
  background-color: #AEAEAE;
  border: 1px solid #212121;
  color: #383838;
  padding: 4px;
  cursor: pointer;
}
form input.button.hover {
  background-color: #D7D7D7;
}
form input.button.focus {
  background-color: #8E8E8E;
}
form input.image_button {
  border: 1px solid #212121;
  cursor: pointer;
}
form div.huge {
  font-size: 1.5em;
}
form div.huge label {
  display: none;
}
form div.huge div {
  margin: 0 0 10px 0;
  position: relative;
}
form div.huge div input.text {
  width: 85%;
}
.content table tr th {
width: 120px;
text-align: right;
vertical-align: top;
padding-right: 10px;
}
.content table tr td {
padding: 0 0 14px 0;
}

/**
 * Forms
 **/

#body table
{
    width: 100%;
}

.content div.form-wrapper {
margin-left: -130px;
margin-bottom: 10px;
}
.content div.open-form table {
margin-bottom: -38px;
}

div.form-wrapper.open-form {
    border-top: 5px solid #AAA;
    border-bottom: 5px solid #AAA;
    padding: 10px 0px;
    margin-bottom: 20px;
}

/* Expand/contract behavior */
div.form-wrapper div.value {
  display: block;
}
div.form-wrapper .form-field {
  display: none;
}
div.form-wrapper.open-form div.value {
  display: none;
}
div.form-wrapper.open-form div.form-field {
  display: block;
}
div.form-wrapper.open-form tr.form-field {
  display: table-row;
}

div.delete-form-wrapper {
    margin-bottom: 1em;
}

table textarea,
table iframe
{
    width: 100% !important;
}
table input[type="button"],
table input[type="checkbox"],
table input[type="submit"]
{
    width: auto !important;
}

body.action_add form .value 
{
    display: none;
}

form label
{
}

form table tr td:first-child
{
    text-align: right;
    padding-right: 4px;
}
form .perm-preview {
}

/**
 * Side-load
 **/
div.progress {
  width: 100%; 
  background:#DDD; 
  height: 1em; 
}
div.progress div.indicator {
  width: 0; 
  height: 1em; 
  background-color: #222;
}
div.progress .spinner {
    position: relative;
    right: -20px;
}

/**
 * Podcast
 **/
.podcasts h3 {
  margin: 0;
}
iframe {
    border: 0;
}

/**
 * Account
 **/

body.module_account.action_settings #header
{
    display: block;
}

body.module_podcast.action_edit #content ul li form
{
    display: inline;
}

/* Symfony Debug */
body div#sfWebDebug div#sfWebDebugBar {
  position: absolute;
  top: 34px;
  right: 0;
}
