[submodule "plugins/File_Bittorrent2"]
	path = plugins/File_Bittorrent2
# public 
	url = git://github.com/WIZARDISHUNGRY/file_bittorrent2.git
# private
#	url = git@github.com:WIZARDISHUNGRY/file_bittorrent2.git

[submodule "plugins/sfPropelActAsSluggableBehaviorPlugin"]
    path = plugins/sfPropelActAsSluggableBehaviorPlugin
# public 
	url = git://github.com/WIZARDISHUNGRY/sfpropelactassluggablebehaviorplugin.git
# private
#	url = git@github.com:WIZARDISHUNGRY/sfpropelactassluggablebehaviorplugin.git
[submodule "test/host-assert"]
	path = test/host-assert
	url = git://gist.github.com/78145.git
