[submodule "plugins/File_Bittorrent2"]
	path = plugins/File_Bittorrent2
# public 
	url = git://github.com/WIZARDISHUNGRY/file_bittorrent2.git
# private
#	url = git@github.com:WIZARDISHUNGRY/file_bittorrent2.git
[submodule "lib/vendor/symfony"]
	path = lib/vendor/symfony
	url = git://github.com/WIZARDISHUNGRY/symfony.git
