log/*
cache/*
config/databases.yml
config/propel.ini
config/properties.ini
web/uploads/*
web/fixtures
# add2zip -- files below belong in the zip but not git
data/sql/*
data/tracker.db*
lib/model/om/*
lib/model/map/*
lib/form/base/*
config/generated*
VERSION
web/sf
.htpasswd
