log/*
cache/*
web/uploads/*
config/databases.yml
config/propel.ini
config/properties.ini
# add2zip -- files below belong in the zip but not git
data/sql/*
lib/model/om/*
lib/model/map/*
lib/form/base/*
config/generated*
VERSION
web/sf
web/tracker_dev.php
