all:
  propel:
    class:          sfPropelDatabase
    param:
      encoding:     binary
      persistent:   true
prod:
  propel:
    param:
      dsn:          mysql://user:pass@localhost/limetracker


## For developers only!
#dev:
#  propel:
#    param:
#      dsn:          mysql://localhost/limetracker
