all:
  propel:
    class:  sfPropelDatabase
    param:
      classname:    PropelPDO
      encoding:     binary
      persistent:   true
      pooling:      true 
      ##mysql
      #dsn:        mysql:host=localhost;dbname=limetracker
      #username:   user
      #password:   password
      #sqlite
      phptype:    sqlite
      dsn:        'sqlite:%SF_DATA_DIR%/tracker.db'
      username:   root
      password:   null
